{% block javascripts %}{% endblock %}
</head>
<body>
        <header>
                <h1><a href="{{ path('homepage') }}">Guestbook</a></h1>
                <ul>
                    {% for conference in conferences %}
                            <li><a href="{{ path('conference', { conference: conference.id }) }}">{{ conference }}</a></li>
                        {% endfor %}
                    </ul>
                <hr />
            </header>
{% block body %}{% endblock %}
</body>
</html>