{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
    <h2>Give your feedback!</h2>

    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
        <p>
{#            {{ conference.id }}#}
            <a href="{{ path('conference', { conference: conference.id }) }}">View</a>
        </p>

    {% endfor %}

{% endblock %}